@model IEnumerable<GMUProject.Models.Application>

@{
    ViewBag.Title = "Applications";
}

<h2>Applications</h2>
@using (Html.BeginForm("Index", "Applications", FormMethod.Get, new
{
    @class =
"navbar-form navbar-left"
}))
{
    <div class="form-group">
        @Html.TextBox("Search", null, new
        {
            @class = "form-control",
            @placeholder
        = "Search Applicants"
        })
    </div>
    <button type="submit" class="btn btn-default btn-success gmubtn">Search</button>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MathSat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerbalSat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Term.TermName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decision.EnrollmenDecision)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MathSat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerbalSat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Term.TermName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decision.EnrollmenDecision)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
